@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
body {
   max-width: 100vw;
   height: 100vh;
   background-image: url(IMAGES/bgLogin.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   min-width: 345px;
}
#loginContainer{
    background-color:#36393f;
    /* border: solid #3e3e40 1px; */
    height: 400px;
    width: 70vw;
    min-width: 370px;
    max-width: 500px;
    border-radius: 5px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0px 28px 0px 28px;
}

.logoContainer{
    height: 60px;
    width: 220px;
    display: block;
    margin: auto;           
    margin-bottom: 20px;
}
.MyInputs{
    border-radius: 5px;
    background-color:#202225;
    border: 0px;
    color:#B9B9B9;
    height: 50px;
    width:100%;
    padding-left: 20px;
    font-size: 18px;
}
.MyInputs:focus{
    outline: none;
    background-color:#121212;
    
}
#emailFormContainer{
    margin-bottom: 20px;
    
}
.MyLabels{
    font-size: 16px;
    color:#B9B9B9;
    font-weight: bold;
    margin-bottom: 10px;
}
#loginContainer a{
    color:#02AAEC;
    background: none;
    border: none;
    text-decoration: none;
}
button[name="signMeIn"],button[name="signMeUp"] {
    background-color:#038DFE;
    font-size: 16px;
    font-weight: bold;
    width: 118px;
    height: 36px;
    border-radius: 6px;
    border: 0px;
    color: white;
    filter: saturate(0%);  
}
.navbar{
    background-color:#18181b;
    height: 70px;
    width: 100%;
    position: sticky;
}
#navLogo{
    height: 40px;
    width: 160px;
    left: 0;
}
#pdp{
    width: 40px;
    height: 40px;
}

#sideBar{
    width: 270px;
    height: calc(100vh - 70px);
    padding: 0%;
    margin: 0%;
    background-color: #18181b;
    margin-top: 3px;
    overflow-y:hidden ;
}

@media screen and (max-width:768px) {
    #sideBar{
        width: 60px;
    }
}
.btn{
    width: 98%;
}
.btn:hover{
    background-color: #038DFE;
}
.MyContent{
    background-image: none;
    background-color: #0e0e10;
}
.setRedColor{
    color:#9E383A;
}
#signOutBtn>div{
    border: solid #9E383A 1px;
    border-radius: 5px;
    max-width: 160px;
    padding: 5px 0px 5px 0px;
    margin: auto;
}
@media screen and (max-width:768px) {
    #signOutBtn>div{
        border: none;
    }
}
#signOutBtn>div:hover{
    background-color: #9E383A;
}
#signOutBtn>div:hover .setRedColor{
    color: white;
}

tr{
    color: rgb(173, 173, 173);
}
table{
    background-color: #18181b;
    margin: auto;
    min-height: 330px;
}
#dashboardContent{
    padding: 50px 0px 10px 270px;
    height: 100vh;
    overflow: scroll;
}
.table-responsive{
    margin: auto;
    width: 70vw;
    max-width: 800px;
    min-width: 570px;
}
@media screen and (max-width:992px) {
    
    .table-responsive{
        margin: 0;
        margin: auto;
        width: 60vw;
    }
    #dashboardContent{
        padding: 50px 0px 10px 270px;
    }
}
@media screen and (max-width:768px) {
    
    .table-responsive{
        margin: 0;
        margin: auto;
        width: 85vw;
    }
    #dashboardContent{
        padding: 30px 0px 10px 80px;
    }
}
.tableTitle
{
    color: #038DFE;
}




